.git
**/node_modules
**/dist
**/target
**/coverage
.form-comparison
examples/**/vendor
packages/validator-php/vendor
packages/generator-php/vendor
**/autom4te.cache
packages/php-ext/build
packages/php-ext/Makefile
packages/php-ext/Makefile.fragments
packages/php-ext/Makefile.objects
packages/php-ext/config.h
packages/php-ext/config.h.in*
packages/php-ext/config.nice
packages/php-ext/config.status
packages/php-ext/configure*
packages/php-ext/libtool
packages/php-ext/modules
packages/php-ext/.libs
packages/php-ext/native/.libs
packages/php-ext/native/*.lo
packages/php-ext/native/*.o
packages/php-ext/native/*.dep
packages/php-ext/*.la
packages/php-ext/run-tests.php
